USE [master]
GO
/****** Object:  Database [WebMVC]    Script Date: 12/1/2020 1:24:31 PM ******/
CREATE DATABASE [WebMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebMVC', FILENAME = N'F:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebMVC_log', FILENAME = N'F:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebMVC]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tuan] [int] NULL,
	[Nhom_ID] [int] NULL,
	[TieuDe] [nvarchar](50) NULL,
	[NoiDung] [ntext] NULL,
	[ThoiGianBaoCao] [datetime] NULL,
	[FileUpload] [varchar](500) NULL,
 CONSTRAINT [PK_BaoCao] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu_NguoiDung]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu_NguoiDung](
	[NguoiDung_ID] [int] NOT NULL,
	[ChucVu_ID] [int] NOT NULL,
 CONSTRAINT [PK_ChucVu_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[NguoiDung_ID] ASC,
	[ChucVu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeTai]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDeTai] [nvarchar](50) NULL,
	[YeuCauDeTai] [nvarchar](500) NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[SoTuanThucHien] [int] NULL,
 CONSTRAINT [PK_DeTai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](10) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Nhom_ID] [int] NULL,
	[DeTai_ID] [int] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung_QuyenHan]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung_QuyenHan](
	[QuyenHan_ID] [int] NOT NULL,
	[NguoiDung_ID] [int] NOT NULL,
 CONSTRAINT [PK_NguoiDung_QuyenHan] PRIMARY KEY CLUSTERED 
(
	[QuyenHan_ID] ASC,
	[NguoiDung_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhom]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhom](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNhom] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Nhom] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoi]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BaoCao_ID] [int] NULL,
	[NoiDung] [ntext] NULL,
	[TieuDe] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhanHoi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyenHan]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenHan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyenHan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QuyenHan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyenHan_ChucVu]    Script Date: 12/1/2020 1:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenHan_ChucVu](
	[ChucVu_ID] [int] NOT NULL,
	[QuyenHan_ID] [int] NOT NULL,
 CONSTRAINT [PK_QuyenHan_ChucVu] PRIMARY KEY CLUSTERED 
(
	[ChucVu_ID] ASC,
	[QuyenHan_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaoCao] ON 

INSERT [dbo].[BaoCao] ([ID], [Tuan], [Nhom_ID], [TieuDe], [NoiDung], [ThoiGianBaoCao], [FileUpload]) VALUES (60, 26, 1, N'g', N'g', CAST(N'2020-11-30T19:22:24.440' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[BaoCao] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([ID], [TenChucVu]) VALUES (1, N'GiaoVien')
INSERT [dbo].[ChucVu] ([ID], [TenChucVu]) VALUES (2, N'SinhVien')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[DeTai] ON 

INSERT [dbo].[DeTai] ([ID], [TenDeTai], [YeuCauDeTai], [ThoiGianBatDau], [ThoiGianKetThuc], [SoTuanThucHien]) VALUES (19, N'zdd', N'sdas', CAST(N'2020-06-01T00:00:00.000' AS DateTime), CAST(N'2020-12-15T00:00:00.000' AS DateTime), 28)
INSERT [dbo].[DeTai] ([ID], [TenDeTai], [YeuCauDeTai], [ThoiGianBatDau], [ThoiGianKetThuc], [SoTuanThucHien]) VALUES (20, N'sa', N'sd', CAST(N'2020-03-01T00:00:00.000' AS DateTime), CAST(N'2020-12-15T00:00:00.000' AS DateTime), 41)
SET IDENTITY_INSERT [dbo].[DeTai] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([ID], [TenDangNhap], [MatKhau], [HoTen], [Nhom_ID], [DeTai_ID]) VALUES (3, N'as', N'as', N'as', 1, 19)
INSERT [dbo].[NguoiDung] ([ID], [TenDangNhap], [MatKhau], [HoTen], [Nhom_ID], [DeTai_ID]) VALUES (4, N'aq', N'aq', N'aq', 2, 20)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[Nhom] ON 

INSERT [dbo].[Nhom] ([ID], [MaNhom]) VALUES (1, N'1')
INSERT [dbo].[Nhom] ([ID], [MaNhom]) VALUES (2, N'2')
SET IDENTITY_INSERT [dbo].[Nhom] OFF
GO
/****** Object:  Index [unique_BaoCao]    Script Date: 12/1/2020 1:24:32 PM ******/
ALTER TABLE [dbo].[BaoCao] ADD  CONSTRAINT [unique_BaoCao] UNIQUE NONCLUSTERED 
(
	[Tuan] ASC,
	[Nhom_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_TenDeTai]    Script Date: 12/1/2020 1:24:32 PM ******/
ALTER TABLE [dbo].[DeTai] ADD  CONSTRAINT [unique_TenDeTai] UNIQUE NONCLUSTERED 
(
	[TenDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_Nhom] FOREIGN KEY([Nhom_ID])
REFERENCES [dbo].[Nhom] ([ID])
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [FK_BaoCao_Nhom]
GO
ALTER TABLE [dbo].[ChucVu_NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_ChucVu_NguoiDung_ChucVu1] FOREIGN KEY([NguoiDung_ID])
REFERENCES [dbo].[ChucVu] ([ID])
GO
ALTER TABLE [dbo].[ChucVu_NguoiDung] CHECK CONSTRAINT [FK_ChucVu_NguoiDung_ChucVu1]
GO
ALTER TABLE [dbo].[ChucVu_NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_ChucVu_NguoiDung_NguoiDung1] FOREIGN KEY([NguoiDung_ID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[ChucVu_NguoiDung] CHECK CONSTRAINT [FK_ChucVu_NguoiDung_NguoiDung1]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_DeTai] FOREIGN KEY([DeTai_ID])
REFERENCES [dbo].[DeTai] ([ID])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_DeTai]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_Nhom] FOREIGN KEY([Nhom_ID])
REFERENCES [dbo].[Nhom] ([ID])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_Nhom]
GO
ALTER TABLE [dbo].[NguoiDung_QuyenHan]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_QuyenHan_NguoiDung] FOREIGN KEY([NguoiDung_ID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[NguoiDung_QuyenHan] CHECK CONSTRAINT [FK_NguoiDung_QuyenHan_NguoiDung]
GO
ALTER TABLE [dbo].[NguoiDung_QuyenHan]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_QuyenHan_QuyenHan] FOREIGN KEY([QuyenHan_ID])
REFERENCES [dbo].[QuyenHan] ([ID])
GO
ALTER TABLE [dbo].[NguoiDung_QuyenHan] CHECK CONSTRAINT [FK_NguoiDung_QuyenHan_QuyenHan]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_BaoCao] FOREIGN KEY([BaoCao_ID])
REFERENCES [dbo].[BaoCao] ([ID])
GO
ALTER TABLE [dbo].[PhanHoi] CHECK CONSTRAINT [FK_PhanHoi_BaoCao]
GO
ALTER TABLE [dbo].[QuyenHan_ChucVu]  WITH CHECK ADD  CONSTRAINT [FK_QuyenHan_ChucVu_ChucVu] FOREIGN KEY([ChucVu_ID])
REFERENCES [dbo].[ChucVu] ([ID])
GO
ALTER TABLE [dbo].[QuyenHan_ChucVu] CHECK CONSTRAINT [FK_QuyenHan_ChucVu_ChucVu]
GO
ALTER TABLE [dbo].[QuyenHan_ChucVu]  WITH CHECK ADD  CONSTRAINT [FK_QuyenHan_ChucVu_QuyenHan] FOREIGN KEY([QuyenHan_ID])
REFERENCES [dbo].[QuyenHan] ([ID])
GO
ALTER TABLE [dbo].[QuyenHan_ChucVu] CHECK CONSTRAINT [FK_QuyenHan_ChucVu_QuyenHan]
GO
USE [master]
GO
